.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }
html{
    height: 100%;
    font-family: 'Poppins';
}
body{
    height:100%;
}

body{
    background-image: url(./images/bg-mobile.svg);
    background-color: hsl(257, 40%, 49%);
    background-repeat: no-repeat;
    padding: 2rem;
}
.logo img{
    width: 40%;
    padding-bottom: 2rem;
}
.imagen img{
    width: 100%;
    padding-bottom: 2rem;

}
.info{
    color: white;
    font-size: 13px;
    text-align: center;
    font-weight: 600;

}
.info p{
    font-weight: 400;
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    padding-bottom: 2rem;
}
.info a{
    padding: 3% 17%;
    border-radius: 50px;
    color: hsl(257, 40%, 49%);
    background-color: white;
    text-decoration: none;
}
.info a:hover{
    background-color: hsl(300, 69%, 71%);
    color: white;
}
.social{
    padding: 3rem 0;
    text-align: center;
    justify-content: space-around;
    font-size: x-small;

}
.social i{
    color: white;
    padding: 10px;
    margin: .5rem;
    border: solid 1px;
    border-radius: 50%;
}
.social i:hover{
    color: hsl(300, 69%, 71%);
}

@media (min-width:1440px){
    body{
        background-image: url(./images/bg-desktop.svg);
        background-color: hsl(257, 40%, 49%);
        background-size: cover;       
    }
    header{
        height: 15%;
    }
    .logo img{
        width: 15%;
        padding: 2rem;
    }
    main{
        display: flex;
        flex-wrap: wrap;
        height: 75%;        
    }
    footer{
        height: 10%;
    }
    .imagen{
        width: 48%;
        padding-left: 1.2rem;
    }
    .info{
        width: 45%;
        padding: 1rem 2rem 0 2rem;
        text-align: start;
    }
    .info h1{
        font-size: xx-large;
        font-weight: 600;
    }
    .info p{
        font-weight: 400;
        font-size: large;
        font-family: 'Open Sans', sans-serif;
        padding-bottom: 2rem;
    }
    .social{
        width: 100%;
        margin-right: 8rem;
        text-align: end;
        font-size: medium;
    }  
}
/* @media (min-width:426px){
    body{
        height: 100%;
        background-image: url(./images/bg-desktop.svg);
        background-size: cover;
        background-color: hsl(257, 40%, 49%);
        padding: 4%;
    }
    
    .logo{
        width: min-content;
    }
    .container{
        display: grid;
        margin-top: 2%;
        display: flex;    
        gap: 3%;
    }
    .imagen{
        width: 100%;
    }
    .info{
        flex-direction: column;
        justify-content: flex-start;
        padding: 1%;
        color: white;
        font-family: 'Poppins', sans-serif;
        font-size: x-large;   
    }
    .info button{
        width: 30%;
        padding: 3%;
        border-radius: 50px;
        color: hsl(257, 40%, 49%);
    }
    .info button:hover{
        background-color: hsl(300, 69%, 71%);
        color: white;
    }
    .social{
        display: flex;
        justify-content: end;
    }
    .social i{
        color: white;
        margin: 10px;
        padding: 10px;
        border: solid 1px;
        justify-content: space-around;
        border-radius: 50px;
    }
    .social i:hover{
        color: hsl(300, 69%, 71%);
    }

}
@media (max-width: 425px) {
    body{
    height: 100%;
    background-image: url(./images/bg-mobile.svg);
    background-size: cover;
    background-color: hsl(257, 40%, 49%);
    padding: 4%;
    }
    .container{
        margin-top: 2%;   
        gap: 3%;
    }
    .imagen{
        width: 100%;
    }
    .info{
        flex-direction: column;
        justify-content: flex-start;
        padding: 1%;
        color: blue;
           
    }
} */
